*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url(../fonts/CormorantGaramond-Variable.ttf) format('truetype');
}

@font-face {
    font-family: 'Cormorant Garamond Italic';
    src: url(../fonts/CormorantGaramond-Italic-Variable.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Variable.ttf) format('truetype');
}

::-webkit-scrollbar {
  width: 0px;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #101214;
    padding: 10px;
    position: fixed;
    width: 100%;
    img{
        width: 20%;
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 40px;
        list-style: none;
        margin-right: 50px;
        li{
            transition: all 0.3s ease-in-out;
            a{
                text-decoration: none;
                font-family: 'Inter', serif;
                font-weight: 400;
                color: #F2EEE6;
                padding: 8px 20px;
                display: inline-block;
                transition: all 0.3s ease-in-out;
            }
        }
        a.botao-receber-novidades{
            border: 2px solid #D5A26F;
            font-weight: 500;
            border-radius: 3px;
            padding: 8px 12px;
        }
        li:hover{
            background-color: #777B80;
            border-radius: 3px;
            transform: scale(1.05);
        }
        .botao-receber-novidades:hover{
            background-color: #D5A26F;
            color: #101214da;
            box-shadow: 0 0 10px #D5A26F,
                        0 0 20px #D5A26F, 
                        0 0 30px rgba(213, 162, 111, 0.6);
        }
    }
}

main{
    background-color: #101214;
    .pagina-hero{
        max-width: 100%;
        min-height: calc(100vh + 85px);
        background-image: url(../img/hero-castelo-viajante.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 85px;
        scroll-margin-top: 85px;
        .card-hero{
            display: flex;
            flex-direction: column;
            margin-left: 2vw;
            h3{
                color: #D5A26F;
                font-family: 'Inter', serif;
                font-weight: 500;
                letter-spacing: 4px;
                word-spacing: 4px;
                margin-top: 18vh;
            }
            h1{
                color: #F2EEE6;
                font-family: 'Cormorant Garamond', serif;
                font-size: 100px;
                font-weight: 400;
                width: 100%;
                max-width: 18ch;
            }
            p{
                color: #F2EEE6;
                font-family: 'Inter', serif;
                font-size: 28px;
                font-weight: 300;
                letter-spacing: 2px;
                margin-top: 1vh;
                width: 100%;
                max-width: 40ch;
            }
            .botoes-hero{
                display: flex;
                flex-direction: row;
                gap: 10px;
                margin-top: 5vh;
                .dourado{
                    color: #101214da;
                    background-color: #D5A26F;
                    font-family: 'Inter', serif;
                    font-weight: 500;
                    padding: 16px 84px;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    overflow: hidden;
                }
                .dourado::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: -220%;
                        width: 50%;
                        height: 100%;
                        background: linear-gradient(
                            to right,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(255, 255, 255, 0.4) 50%,
                            rgba(255, 255, 255, 0) 100%
                        );
                        transform: skewX(-25deg); /* Inclina a linha de luz */
                        transition: all 0.6s ease;
                    }
                    .dourado:hover::before {
                        left: 150%;
                    }
                    .dourado:hover {
                        transform: scale(1.03);
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    }
                .transparente{
                    color: #F2EEE6;
                    font-family: 'Inter', serif;
                    font-weight: 500;
                    padding: 16px 84px;
                    border: 1px solid #D5A26F;
                    border-radius: 5px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color:#101214da;
                        background-color: rgb(237, 179, 120);
                        transform: scale(1.1);
                        box-shadow: 0 0 10px #D5A26F,
                                    0 0 20px #D5A26F, 
                                    0 0 30px rgba(213, 162, 111, 0.6);
                    }
                }
            }
        }
        
    }
}

footer{
    background-color: #101214;
}